/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DARK MODE */

#dark {
  background-color: #100f26;
  color: #f4eee0;
}


/* Mobile View */
@media (max-width: 600px) {
  .footer {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }
}