.projects {
    margin: 50px 0px;
    margin-left: 140px;
}

.projects hr {
    color: #138781;
    width: 600px;
    margin: 10px auto;
}

.projects h2 {
    color: #138781;
    font-weight: bold;
}

#ads {
    margin: 30px 0px 30px 0px;
}

#ads .card-notify-badge {
    position: absolute;
    left: -10px;
    top: -20px;
    background-color: #f29f67;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: black;
    padding: 5px 10px;
    font-size: 15px;
}

.projects .card img {
    height: 150px;
    width: 100%;
}

.card-detail-badge {
    background-color: #e0b50f;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    padding: 5px 10px;
    font-size: 15px;
    color: black;
}

.card-img-overly {
    font-size: 20px;
}

.card-img-overly span {
    display: inline-block;
    margin-left: 5px;
}

.projects .card:hover {
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.65s ease;
}

.ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    background-color: #138781;
    color: white;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none;
    margin: 20px auto 20px auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.ad-btn:hover {
    background-color: white;
    color: #138781;
    background: transparent;
    border: 2px solid #138781;
    transition: all 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



/* Project View styles */
.full-page-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #138781;
    width: 70%;
    height: 70%;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
}

.modal-header {
    position: relative;
    /* Add this line */
}

.modal-header button {
    position: relative;
    /* Position relative to .modal-content */
    right: 0;
    /* Adjust as needed */
    top: 0;
    border: none;
    background-color: #138781;
    color: white;
    /* For better visibility */
}


.project-video {
    width: 100%;
    max-height: 400px;
    margin-top: 20px;
}



/* DARK Mode styles */

#dark .projects h2 {
    color: #1bada6;
}

#dark .projects hr {
    color: #1bada6;
}

#dark .projects .card {
    color: white;
    background-color: #138781;
}

#dark .ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    background-color: white;
    color: #138781;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none;
    margin: 20px auto 20px auto;
    overflow: hidden;
    position: relative;
}

#dark .ad-btn:hover {
    font-weight: bold;
    border: 2px solid #138781;
    transition: all 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* Mobile View */
@media (max-width: 600px) {
    .projects {
        margin: 0;
        padding: 0;
        margin-top: 30px;
    }

    .projects hr {
        width: 280px;
    }

    .projects .card {
        margin-top: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .projects .card {
        margin-top: 30px;
    }
}

@media (min-width: 768px) and (max-width: 795px) {
    .projects {
        padding-left: 180px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .projects {
        margin: 0;
        padding-left: 150px;
    }

    .projects .card-img-overly {
        width: 100%;
    }

    .projects .ad-btn {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1050px) {
    .projects {
        margin: 0;
        padding-left: 170px;
    }
}